= link_to t('appname'), root_url(:forum=>nil), :class => 'brand'
%ul.nav
  %li=link_to '植物',plants_url
%ul.nav.pull-right
  - if user_signed_in?
    %li= link_to('退出', destroy_user_session_path(:forum=>nil), :method=>'delete')
    %li= link_to('设置', edit_user_registration_path(:forum=>nil))
    - if current_user.has_role? :admin
      %li= link_to('管理', users_path(:forum=>nil))
  - else
    %li
      = link_to('登录', new_user_session_path(:forum=>nil))
    %li
      = link_to('免费注册', new_user_registration_path(:forum=>nil))
